<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
</head>

<body>
    <h1>Things we need to do</h1>
    <p>
    <ul>
        <li> 1 | Learn and/or take the vaccines available </li>

        <li>2 | Wash your hands</li>

        <li>3 | Wear a face mask EVERYWHERE </li>

        <li>4 | Watch Social Distancing </li>

        <li>5 | Wind down social contacts </li>

        <li>6| encourage people who observes public health guidelines
        </li>
    </ul>
    </p>
</body>

</html>